<div class="regras-page">


    <h1>
        Regras do jogo (Gamificação)
    </h1>
    {{mount-widget widget="regras-table-of-contents-widget"}}
    <div class="contents">
        <ol>
            <li>
                <h2 id="pontuacoes" class="title">
                    Pontuações
                </h2>
                <p>
                    Para deixar a participação na nossa comunidade mais divertida e dinâmica, você pode adquirir pontos
                    realizando certas ações e ganhando emblemas. Acumulando os pontos, você pode entrar no nosso ranque
                    mensal!
                </p>
            </li>

            <li>
                <h2 id="mas-para-que-servem-os-pontos" class="title">
                    Mas...para que servem os pontos?
                </h2>
                <p>
                    Os pontos são a recompensa que você acumula! Isso pode ser feito através de ações específicas feitas
                    dentro
                    da comunidade. Quanto mais pontos você tiver, maior a probabilidade de você ficar em 1ª lugar no
                    ranque
                    mensal!
                </p>
            </li>

            <li>
                <h2 id="como-coletar-pontos" class="title">
                    Como coletar pontos?
                </h2>
                <p>
                    Atualmente, a maneira de acumular pontos é conseguindo emblemas.
                </p>
            </li>

            <li>
                <h2 id="emblemas" class="title">
                    Emblemas
                </h2>
                <p>
                    Emblemas são medalhas que você ganha ao fazer certas ações aqui na comunidade. Quanto mais emblemas
                    você
                    ganhar, mais pontos você acumula! Então se você quiser ficar no topo do ranque, fique ligado em como
                    ganhar
                    os emblemas.
                </p>
            </li>

            <li>
                <h2 id="como-conseguir-emblemas" class="title">
                    Como conseguir emblemas?
                </h2>
                <p>
                    Quando você fizer uma certa ação dentro da comunidade, nós daremos um emblema como reconhecimento
                    desta
                    ação. Por enquanto, estes são os emblemas e as ações necessárias para consegui-los:
                </p>
            </li>


            <div class="gaming-rules">

                <div class="rule">
                    <div class="action">
                        Convidou um usuário
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Convidou um amigo
                    </div>
                    <div class="badge-points">
                        <div>
                            5
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Comentário recebeu 100 curtidas
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Popular
                    </div>
                    <div class="badge-points">
                        <div>
                            10
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Teve comentário aceito pela primeira vez
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Promissor!
                    </div>
                    <div class="badge-points">
                        <div>
                            10
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Teve 10 comentários aceitos
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Aspirante a especialista
                    </div>
                    <div class="badge-points">
                        <div>
                            50
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Comentário aceito (qualquer categoria menos Ajuda)
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Melhor solução
                    </div>
                    <div class="badge-points">
                        <div>
                            5
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Deu a primeira curtida em um tópico
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Curtiu um tópico
                    </div>
                    <div class="badge-points">
                        <div>
                            2
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Mudou o avatar
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}De cara nova
                    </div>
                    <div class="badge-points">
                        <div>
                            5
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Comentou em um tópico em menos de 1 hora
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Herói/Heroína ao resgate
                    </div>
                    <div class="badge-points">
                        <div>
                            15
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Tópico curtido por 100 pessoas
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}No holofote
                    </div>
                    <div class="badge-points">
                        <div>
                            15
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Fez o primeiro comentário
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Primeiro comentário
                    </div>
                    <div class="badge-points">
                        <div>
                            5
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Criou seu primeiro tópico
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Primeiro tópico
                    </div>
                    <div class="badge-points">
                        <div>
                            10
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Criou sua conta na comunidade
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Principiante
                    </div>
                    <div class="badge-points">
                        <div>
                            10
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Recebeu sua primeira curtida em um comentário
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Comentário interessante
                    </div>
                    <div class="badge-points">
                        <div>
                            2
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Sinalizou um tópico pela primeira vez
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Parceiro(a) da comunidade
                    </div>
                    <div class="badge-points">
                        <div>
                            5
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Recebeu a primeira curtida em um tópico
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Tópico interessante
                    </div>
                    <div class="badge-points">
                        <div>
                            2
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Tópico curtido por 1000 pessoas
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Tópico precioso
                    </div>
                    <div class="badge-points">
                        <div>
                            50
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Tópico visualizado por 1000 pessoas
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Tópico relevante
                    </div>
                    <div class="badge-points">
                        <div>
                            10
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Recebeu a primeira curtida em um tópico
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Tópico útil
                    </div>
                    <div class="badge-points">
                        <div>
                            10
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Ficou em 1ª no ranque mensal pela primeira vez
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Vencedor(a) do mês bronze
                    </div>
                    <div class="badge-points">
                        <div>
                            15
                        </div>
                    </div>
                </div>

                <div class="rule">
                    <div class="action">
                        Ficou em 1ª no ranque mensal 10x
                    </div>
                    <div class="badge-name">
                        {{d-icon "trophy"}}Vencedor(a) do mês ouro
                    </div>
                    <div class="badge-points">
                        <div>
                            300
                        </div>
                    </div>
                </div>

            </div>


            Será que você consegue todos os emblemas?


            <li>
                <h2 id="ranque-mensal" class="title">
                    Ranque mensal
                </h2>
                <p>
                    Para entrar no ranque, você precisa acumular pontos ganhando emblemas. Para ficar em primeiro lugar
                    no
                    ranque mensal, você precisa ganhar pontos o mais rápido possível, pois eles serão contabilizados
                    todo
                    último
                    dia do mês!
                </p>
            </li>

            <li>
                <h2 id="como-ficar-em-primeiro-lugar-no-ranque-mensal" class="title">
                    Como ficar em primeiro lugar no ranque mensal?
                </h2>
                <p>
                    Acumule a maior quantidade de pontos entre todos os membros da comunidade, interagindo nas
                    categorias,
                    criando tópicos ou comentando para ajudar outros usuários.
                </p>
            </li>
        </ol>

        <h1>
            E aí, você aceita o desafio?
        </h1>
    </div>

</div>