.regras-page {
    display: flex;
    flex-wrap: wrap;
    & > h1 {
        width: 100%;
    }
    margin-bottom: 60px;
    .contents {
        width: calc(100% - 300px);
        p {
            color: #5f646d;
        }
        .title {
            font-size: 26px;
            font-weight: bold;
            color: black;
        }
        li {
            &::marker {
                font-size: 26px;
            }
            margin-bottom: 32px;
            p {
                margin: 0;
            }
            .title {
                margin-top: 16px;
            }
        }
    }
    .table-of-contents {
        max-width: 200px;
        margin-right: 32px;
        li {
            font-weight: bold;
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .gaming-rules {
        display: flex;
        flex-direction: column;
        .rule {
            display: grid;
            grid:
                "badge badge badge points"
                "acion acion acion points";
            grid-template-columns: 2fr 2fr 2fr 1fr;
            width: 100%;
            & > div {
                border: 1px solid lightgray;
            }
            .action {
                grid-area: acion;
                padding: 12px;
                border-top: unset;
            }
            .badge-name {
                border-top: unset;
                grid-area: badge;
                font-size: 16px;
                font-weight: bold;
                padding: 12px;
                .fa {
                    color: black;
                    margin-right: 10px;
                }
            }
            .badge-points {
                border-top: unset;
                display: flex;
                border-left: unset;
                grid-area: points;
                padding: 12px;
                & > div {
                    display: flex;
                    margin: auto;
                    font-weight: bold;
                    &::after {
                        content: "pts";
                    }
                }
            }
            &:first-of-type {
                .badge-name,
                .badge-points {
                    border-top: 1px solid lightgray;
                }
            }
        }
    }
}
